/*GENERAL*/
body
{
    font-family: 'Lato', sans-serif;
    background-color: white;

}

h1, h3
{
    text-align: center;
    margin-bottom: 0;
}

.title_post_admin
{
    position: relative;
    bottom: 0;
    border-radius: 50px 50px 20px 20px;
    background-color: darkslategray;
    margin-top: 5%;
    color: white;
    font-size: 0.9em;
    margin-bottom: 0px;
    background-image: url(../images/img20.jpg);
    border: 2px solid black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0.5% 0.5% 1% 0.5%;
}

.title_chap
{
    margin: 2%;
    font-size: 3em;
    color: darkslategrey;
}

.date_em
{
    font-size: 1.1em;
    margin-left: 5%;
    width: 300px;
    text-align: center;
    color: darkslategrey;
}

.com_em
{
    font-size: 1.2em;
}

.text_admin 
{
    position: relative;
    top: 60%;
    border-radius: 20px;
    margin-top: 0px;
    padding: 5%;
}


.news
{
    width: 100%;
    margin: auto;
}

a
{
    text-decoration: none;
    color: darkslategrey;
    font-size: 1.2em;
}
/*HOME PAGE*/
.home_header
{
    display: inline-block;
    color: white;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
    border-radius: 0% 0% 15% 15%;
    background-image:url(../images/ecrire.jpg);
    background-position:center;
}

.heading
{
    text-shadow: 3px 3px 3px black;
}
.block
{
    float: right;
    text-shadow: 3px 3px 3px black;
}

.title_co
{
    font-size: 2em;
}

.form-group
{
    display: inline-block;
    width: 30%;
    margin: 0;
    vertical-align:middle;
}

/*ADMIN VIEW*/
#title_admin
{
    display: inline-block;
    width: 100%;
    margin: 0 auto;
}

.admin_header
{
    display: inline-block;
    background-color: grey;
    color: white;
    width: 100%;
    margin: 0 auto;
}

#portfolio
{
    height: 100%;
}

footer
{
    margin-top: 5%;
    width: 100%;
    background-color: black;
    
}

footer p
{
    width: 35%;
    margin: auto;
    padding: 5%;
    color: white;
}

footer a
{
    color: white;
    text-decoration: none;
    text-decoration-line: none;
}
/*CREATE POST*/
.return_admin
{
    font-size: 2em;
}

.return_home
{
    font-size: 1.6em;
    color: white;
    float: left;
    margin-left: 5%;
}

.session_stop
{
    font-size: 1.6em;
    color: white;
    float: right;
    margin-right: 5%;
}

/* TICKETS MANAGE */

.listPanel
{
    max-width: 50%;
    margin: auto;
    margin-top: 5%;
    padding: 2%;
    border-radius: 50px;
    background-color: darkgrey;
}

.link_update
{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 5%;
    font-size: 2em;
    color: darkred;
}

.button_removePost
{
    width: 150px;
    padding: 1%;
    text-decoration: none;
    background-color: darkred;
    height: 50px;
    margin: auto;
    color: white;
    font-size: 1.2em;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 50px;
}

.button_removePost:hover
{
    background-color: white;
    color: black;
    text-decoration: none;
    border: none;
}

.delete_post
{
    margin-top:20px;
}

.report_ticket
{
    font-size: 1.4em !important;
    margin-bottom: 5%;
}

.delete_view
{
    margin: 3%;
}
/*COMMENT*/

.comment
{
/*    background-color: darkgrey;*/
    border: 2px solid black;
    width: 80%;
    margin: auto;
    padding-top: 1%;
    margin-top: 4%;
    padding-bottom: 2%;
}

.title_comment
{
    margin-left: 5%;
    text-align: center;
    color: darkslategrey;
}
.form_comment
{
    max-width: 60%;
    margin: auto;
    padding-bottom: 2%;
}

.style_button
{
    width: 130px;
    margin-top: 2%;
    font-size: 1.4em;
    border-radius: 3rem;
}

.comment_view
{
    max-width: 50%;
    margin: auto;
    color: darkslategrey;
    border: 1px solid black;
    border-radius: 3rem;
    padding: 2%;
    margin-top: 2%;
}

.comment_style
{
    font-size: 1.2em;
    margin-bottom: 2%;
}

.date_comment
{
    font-size: 0.8em !important;
}
.line_style
{
    width: 100%;
    height: 1px;
    background-color: darkslategrey;
    margin-bottom: 3%;
}

.line_style_down
{
    width: 100%;
    height: 1px;
    background-color: darkslategrey;
    margin-top: 3%;
    margin-bottom: 3%;
}

.signal_com a
{
    width: 15%;
    background-color: darkred;
    color: white;
    padding: 1%;
    border-radius: 2rem;
}

/*COMMENT MANAGE*/
.author_comment
{
    color: black;
    font-size: 1.5em;
}

.text-comment
{
    color: black;
    font-size: 1.4em;
}

.date_comment
{
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 1.1em;
}

.style_report
{
    font-weight: bold;
    font-size: 1.2em;
}

.style_report_view
{
    font-size: 1.2em;
}

.home_page
{
    width: 15% !important;
    margin: auto !important;
    background-color: darkred;
    color: white;
    padding: 1%;
    border-radius: 2rem;
}